@use '../abstracts/colors' as colors;
@use '../abstracts/mixins' as mixins;


.image-container {
    @include mixins.flex-centered;
    height: 80%;
    width: auto;


    .logo-image {
        width: 100%;
        max-height: 100%;
    }
}