@use '../abstracts/colors' as colors;
@use '../abstracts/mixins' as mixins;

.nav-dots-container{
    @include mixins.flex-row-centered;
    width: 80%;
    height:20px;
    max-width: 600px;
    justify-content: space-around;

    margin-bottom:50px;

}

.nav-dot{
    z-index:50;
    background-color: lighten(black,0%);
    width:8px;
    height:8px;
    border:none;
    border-radius: 50%;
    opacity: 60%;
    transition: box-shadow 0.5s, width 0.5s, height 0.5s, opacity 0.5s;

    &--highlighted{
        width:15px;
        height:15px;
        //border: 1px black solid;
        box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 1);
        opacity: 100%;
        transition: box-shadow 0.5s, width 0.5s, height 0.5s, opacity 0.5s;
    }
}

