body,
p,
div,
ul,
li,
input {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background: radial-gradient(circle, rgb(183, 184, 184) 0%, rgb(113, 113, 113) 73%, rgb(61, 61, 61) 100%);
  max-width: 100%;
}

img {
  font-style: italic;
  -webkit-text-decoration: underline dotted white 1px;
          text-decoration: underline dotted white 1px;
}

.carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  position: relative;
  transition: transform 0.8s;
}
.carrousel__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 500px;
  height: 400px;
  opacity: 0%;
  transition: opacity 0.5s;
}
.carrousel__slide--visible {
  opacity: 100%;
  visibility: visible;
  transition: opacity 0.5s;
}
.carrousel__art-piece-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  height: 100%;
}
.carrousel__art-piece-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 100%;
  flex: 1;
  box-shadow: 0 0px 20px 5px rgb(0, 0, 0);
}
.carrousel__art-piece-info {
  max-width: 70%;
}
.carrousel__art-piece-title {
  margin-top: 2%;
  padding: 10px 40px;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  color: black;
}
.carrousel__art-piece-year {
  padding: 10px 40px;
  font-weight: bolder;
  text-align: left;
  color: black;
}

.nav-dots-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20px;
  max-width: 600px;
  justify-content: space-around;
  margin-bottom: 50px;
}

.nav-dot {
  z-index: 50;
  background-color: black;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  opacity: 60%;
  transition: box-shadow 0.5s, width 0.5s, height 0.5s, opacity 0.5s;
}
.nav-dot--highlighted {
  width: 15px;
  height: 15px;
  box-shadow: 0 0px 6px 3px rgb(0, 0, 0);
  opacity: 100%;
  transition: box-shadow 0.5s, width 0.5s, height 0.5s, opacity 0.5s;
}

.test-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.test-buttons-container button {
  padding: 1% 10%;
  width: 100px;
}

.play-button {
  width: 100px;
  height: 100px;
  font-size: larger;
  background-color: transparent;
  border: none;
  text-shadow: 0 0px 6px 3px rgb(0, 0, 0);
}
.play-button__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}
.play-button__image-container img {
  width: 100%;
  max-height: 100%;
}

.carrousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 5%;
}

.player-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: auto;
}
.image-container .logo-image {
  width: 100%;
  max-height: 100%;
}

.body-wrapper {
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=styles.css.map */